/* .feed{
  @apply grid grid-cols-2 xl:grid-cols-3 gap-4 mb-4 justify-center
} */

.feed{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: calc(1rem + 15px) 0 0 1rem;
  padding: 2rem;
  /* border: 2px solid red; */
}

@media (max-width: 800px){
  .feed{
    grid-template-columns: 1fr 1fr;
    grid-row: initial;
    padding: 1rem;
    margin: 1rem;
    gap: 10px;
  }
}