.foto:nth-child(2){
  grid-column: 2/4;
  grid-row: span 2;
}

@media (max-width: 800px){
  .foto:nth-child(2){
    grid-column: initial;
    grid-row: initial;
  }
  .foto{
    max-width: 100%;
    object-fit: contain;
    height: auto;
  }
}

.foto{
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.foto img{
  grid-area: 1/1;
}

.foto span{
  grid-area: 1/1;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  overflow: hidden;
}

.foto:hover span{
  display: flex;
}

.foto span::before{
  content: "";
  width: 16px;
  display: flex;
  background-image: url('../../images/Assets/visualizacao.svg');
  margin-right: 6px;
  height: 10px;
}