.photo{
  margin: auto;
  height: 36rem;
  border-radius: .2rem;
  background-color: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  /* overflow: hidden; */
  transform: scale(.8);
  opacity: 0;
  animation: scaleUp .1s forwards;
}

@keyframes scaleUp{
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.components{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.details{
  padding: 2rem 2rem 0 2rem;
}

.visualizacoes{
  color: gray;
}

.visualizacoes::before{
  content: "";
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 6px;
  background-image: url('../images/Assets/visualizacao-black.svg');
}

.comments{
  padding: 2rem ;
  display: flex;
  height: auto;
}

.photoForm{
  display: flex;
  align-items: flex-end;
}

@media (max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
  .img{
    grid-row: 1;
  }
}