@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img{
  display: block;
  max-width: 100%;
}

input{
  padding: 10px 80px;
  text-align: left;
}

.button{
  background-color: #FABD01;
  padding: 10px 40px;
  border: 3px solid transparent;
}

.button:hover{
  border: 3px solid #FCECC3;
  box-shadow: 0 0 0 1px #FABD01;
  transition: all 0.2s;
}


.input{
  @apply bg-gray-200 py-2 px-5 rounded-lg focus:outline-[#FABD01] block
}

.input-file{
  @apply block py-4 text-2xl text-[#b2b2b2]
}

@keyframes animeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animeLeft {
  animation: animeLeft 0.3s ease forwards;
}

.input-error{
  @apply border-red-600 border-2
}

.button{
  @apply bg-[#FABD01] py-3 px-9 rounded-lg border-transparent border-[3px] hover:border-[#FCECC3] hover:border-[3px] hover:ring-1 ring-[#FABD01] transition-all duration-200
}

.container{
  max-width: 50rem; /*800px*/
  padding: 0 1rem;
  margin: 0 auto;
}